
# Shared objects
*.o
*.so
*.mex
*.mexa64
*.mexmaci64

# Compiled python
*.pyc

# pytest cache
.cache

#Temporary files
*~

# Virtual environments
venv*

# pyat build stuff
pyat/build
pyat/dist
pyat/at.egg-info
pyat/prefix
pyat/integrator-src
pyat/at/_version.py
*.egg-info
.pytest_cache
.coverage

# dynamic integrator list
atintegrators/passmethodlist.m

# cmake
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Vim
*.swp
*.swo

#Local documentation
doc_html/
athelp.mat

# C LSP server cache
.ccls-cache

# octave files
octave-workspace
