# This workflow will install Python dependencies, run tests and lint with a
# variety of Python version
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build Python extension and run tests

on:
  push:
  pull_request:

jobs:
  build_and_run_tests:

    runs-on: ${{ matrix.os }}
    timeout-minutes: 15

    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
        os: [macos-latest, ubuntu-latest, windows-latest]
        exclude:
          - os: windows-latest
            python-version: '3.7'

    steps:

    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Build and install at with tests
      run: python -m pip install -e ".[dev]"

    - name: Lint with flake8
      working-directory: pyat
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Test with pytest and coverage
      working-directory: pyat
      run: python -m pytest test --cov-report term-missing --cov=at
